body{
    font-family: Cambria,Georgia,serif !important; 
    height: 100% !important;

}

.large-cell{
  width: 15rem !important;
}

.medium-cell{
  width: 5rem !important;
}

.crime-table{
  width: 100%!important;
  max-height: 82vh !important;
  flex-wrap: wrap !important;
  td { white-space:pre }
  th{
    font-weight: bold;
  }
}

.heatmap-table{
  margin: 0.5rem;
  max-width: 98%;
  th{
    font-weight: bold;
  }
}

.download-btn{
  margin: 1rem !important;
}


MuiDataGrid-viewport,.MuiDataGrid-row,.MuiDataGrid-renderingZone{
max-height: fit-content!important;
}
.MuiDataGrid-cell{
  max-height:fit-content!important;
  overflow:auto;
  max-height: inherit;
  white-space: initial!important;
  line-height:16px!important;
  display:flex!important;
  align-items: center;
  padding-top: 10px!important;
  padding-bottom: 10px!important;

  div{ //this is for renderCell component wrapped in div
    max-height: inherit;
    width: 100%;
    white-space:pre;
    line-height:16px;
  }
}

.exhibit-table{
  flex-wrap: wrap !important;
  margin-left: 2rem;
  margin-right: 2rem;
  td { white-space:pre }
}

.accused-table{
  width: 250rem !important;
}

.heading{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
}

.heatmap-container{
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dash-container{
  width: 100% !important;
  margin-left: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.piechart{
  width: 100% !important;
  margin-left: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.crime-feed-item:hover {
  background-color: #e0e0e0;
}

.crime-feed-right{
  width: 100%;
}

.crimes-feed{
  max-height: 85vh;
  overflow-y: auto;
}

.menu-item-button{
  margin-top: 10rem !important;
}

.pie-chart-table{
  margin: 0.5rem;
  max-width: 98%;
  th{
    font-weight: bold;
  }
  th{
    font-weight: bold;
  }

  .heading{
    font-size: large;
  }

}
